# ::::::::::::::::::::::::::::::::::::::::::::::::::::::
# :: MS Pastry Default Configuration
# ::                13.37 27/05/2007
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::

# ::::: GLOBAL ::::::

SIZE 1
CYCLE 300
MINDELAY  0
MAXDELAY  0

# ::::: network :::::
random.seed 1234567890

simulation.experiments 1
simulation.endtime 1000001

network.size SIZE


# ::::: LAYERS :::::
#protocol.0link peersim.core.IdleProtocol

protocol.streamthing eu.emdc.streamthing.StreamThing
protocol.streamthing.capacityfile medium_bandwidth
protocol.streamthing.latencyfile medium_delay
protocol.streamthing.transport loss

protocol.loss eu.emdc.streamthing.transport.PacketLoss
protocol.loss.transport stats

protocol.stats eu.emdc.streamthing.stats.VideoTransport
protocol.stats.transport urt

protocol.urt UniformRandomTransport
protocol.urt.mindelay MINDELAY
protocol.urt.maxdelay MAXDELAY



# ::::: INITIALIZERS :::::


# ::::: CONTROLS :::::
control.init eu.emdc.streamthing.Initialiser
control.init.protocol streamthing
control.init.interval simulation.endtime+1
control.init.eventsfile medium_events
control.init.step 1

control.timeout eu.emdc.streamthing.TimeoutControl
control.timeout.protocol streamthing
control.timeout.step CYCLE

# ::::: OBSERVER :::::
control.accounting eu.emdc.streamthing.stats.LogControl
control.accounting.transport stats
control.accounting.logfile logfile.data
control.accounting.from simulation.endtime-1
control.accounting.step 1

control.treeviewer eu.emdc.streamthing.stats.TreeView
control.treeviewer.from 1
control.treeviewer.step 500000
