# ::::::::::::::::::::::::::::::::::::::::::::::::::::::
# :: MS Pastry Default Configuration
# ::                13.37 27/05/2007
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::

# ::::: GLOBAL ::::::

SIZE 1
K 5

MINDELAY  0
MAXDELAY  0

#CYCLE 500
#TRAFFIC_STEP 1000
OBSERVER_STEP 200
#TURBULENCE_STEP 4000


# ::::: network :::::
random.seed 1234567890

simulation.experiments 1
simulation.endtime 1001

network.size SIZE


# ::::: LAYERS :::::
#protocol.0link peersim.core.IdleProtocol

protocol.3mspastry eu.emdc.streamthing.StreamThing
protocol.3mspastry.latencyfile filelolz
protocol.3mspastry.capacityfile uploadFile
#protocol.3mspastry.linkable 0link
protocol.3mspastry.transport unrel
protocol.3mspastry.B 4
protocol.3mspastry.L 32

protocol.loss eu.emdc.streamthing.transport.PacketLoss
protocol.loss.transport stats

protocol.stats eu.emdc.streamthing.stats.VideoTransport
protocol.stats.transport urt

protocol.urt UniformRandomTransport
protocol.urt.mindelay MINDELAY
protocol.urt.maxdelay MAXDELAY

protocol.unrel UnreliableTransport
protocol.unrel.transport loss
protocol.unrel.drop 0


# ::::: INITIALIZERS :::::
#init.0randlink peersim.dynamics.WireKOut
#init.0randlink.k K
#init.0randlink.protocol 0link


init.1uniqueNodeID peersim.pastry.CustomDistribution
init.1uniqueNodeID.protocol 3mspastry

init.2statebuilder peersim.pastry.StateBuilder
init.2statebuilder.protocol 3mspastry
init.2statebuilder.transport loss



# ::::: CONTROLS :::::
#control.0traffic peersim.pastry.TrafficGenerator
#control.0traffic.protocol 3mspastry
#control.0traffic.step TRAFFIC_STEP


#control.2turbolenceAdd peersim.pastry.Turbulence
#control.2turbolenceAdd.protocol 3mspastry
#control.2turbolenceAdd.transport loss
#control.2turbolenceAdd.step TURBULENCE_STEP



# ::::: OBSERVER :::::
control.accounting eu.emdc.streamthing.stats.LogControl
control.accounting.transport stats
control.accounting.logfile logfile.plot
control.accounting.from simulation.endtime-1
control.accounting.step 1

control.init eu.emdc.streamthing.Initialiser
control.init.protocol 3mspastry
control.init.interval simulation.endtime+1
control.init.eventsfile events.data
control.init.step 1

control.3 peersim.pastry.MSPastryObserver
control.3.protocol 3mspastry
control.3.step OBSERVER_STEP
