# network size
SIZE 50

# parameters of message transfer delay 
MINDELAY 0
MAXDELAY 10

random.seed 1234567890
network.size SIZE
simulation.endtime 1001

################### protocols ===========================
protocol.link peersim.core.IdleProtocol

protocol.streamthing eu.emdc.streamthing.StreamThing
protocol.streamthing.node.latency "filename"
protocol.streamthing.node.capacity "filename"
protocol.streamthing.transport loss

protocol.loss eu.emdc.streamthing.transport.PacketLoss
protocol.loss.transport stats

protocol.stats eu.emdc.streamthing.stats.VideoTransport
protocol.stats.transport urt

protocol.urt UniformRandomTransport
protocol.urt.mindelay MINDELAY
protocol.urt.maxdelay MAXDELAY

################### initialization ======================



################ control ==============================

control.init eu.emdc.streamthing.Initialiser
control.init.protocol streamthing
control.init.interval simulation.endtime+1
control.init.step 1

control.accounting eu.emdc.streamthing.stats.LogControl
control.accounting.transport stats
control.accounting.logfile logfile.plot
control.accounting.from simulation.endtime-1
control.accounting.step 1




