# network size
SIZE 50

# parameters of message transfer delay 
MINDELAY 0
MAXDELAY 10

random.seed 1234567890
network.size SIZE
simulation.endtime 1001

################### protocols ===========================

protocol.streamthing eu.emdc.streamthing.StreamThing
protocol.streamthing.node.latency "filename"
protocol.streamthing.node.capacity "filename"
protocol.streamthing.transport urt

protocol.urt UniformRandomTransport
protocol.urt.mindelay MINDELAY
protocol.urt.maxdelay MAXDELAY

################### initialization ======================



################ control ==============================

control.init eu.emdc.streamthing.Initialiser
control.init.protocol streamthing
control.init.interval 30
control.init.step 50

#control.output eu.emdc.streamthing.stats.OutputAvg
#control.output.protocol average
#control.output.step 50



